body {
  
  width: 100w;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
